
<h2>{{tasks}} </h2>
<form [formGroup]="form" class= "normal-form" (ngSubmit)="onSubmit()">
    <mat-grid-list cols ="2" rowHeight = "300px">
    <mat-grid-tile>
        <div class="controles-container">
            <input type="hidden" formControlName="$key">
            <mat-form-field>
                <input  formControlName= "title" matInput placeholder="Title*">
                <mat-error>A Title is required.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input  formControlName= "description" matInput placeholder="Description">
            </mat-form-field>

        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="controles-container">
            <div class="add-bottom-padding">
                <mat-radio-group  formControlName="priority">
                    <mat-radio-button value="1"> High </mat-radio-button>
                    <mat-radio-button value="2"> Medium </mat-radio-button>
                    <mat-radio-button value="3"> Low </mat-radio-button>
                </mat-radio-group>
            </div>


            <div class="button-row">
                <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" >Submit</button>
                <button mat-raised-button color="warn" (click)= "onClear()" >Cancel</button>
            </div>

        </div>
    </mat-grid-tile>
    </mat-grid-list>


</form>



