.stopwatch-duration {
  align-items: center;
  display: flex;
  font-size: 7.5em;

}

.w3-container {
  display: flex;
  font-family: sans-serif;
  min-height: 75px;
  text-align: center;
}

.stopwatch-btn-container {
  display: flex;

}

.stopwatch-btn {
  background: #c8a2c8;
  font-size: 7.5em;
  min-width: 180px;

  padding: 12px;
}
