.stopwatch-duration {
  align-items: center;
  display: flex;
  font-size: 1.5em;


}

.w3-container {
  display: flex;
  font-family: sans-serif;
  min-height: 50px;
  text-align: center;
  font-size: small;
}

.stopwatch-btn-container {
  display: flex;

}

.stopwatch-btn {
  background: #0EB9EB;
  font-size: 1.5em;
  min-width: flex;
}
