

<html [class.alternative]="theme">



<body [class.alternative]="theme">
  <mat-sidenav-container  [class.alternative]="theme">
    <mat-sidenav [class.alternative]="theme"  mode="side" [(opened)]="opened"> <app-task-operations (updateProjIndex)="onIndexChange($event)"></app-task-operations></mat-sidenav>
    <mat-sidenav-content [class.alternative]="theme">



  <app-header (open)="onOpen($event)" (changeTheme1)="onThemeChange($event)"></app-header>

  <app-task-list   [indexForProj]="indexForProj" ></app-task-list>




    </mat-sidenav-content>
  </mat-sidenav-container>

<!-- <div class = "container">
    <label>Task Timer or Stopwatch
    <input [(ngModel)] = "stopwatchView" type = "checkbox">
    </label>
</div>
<div ng*If = "stopwatchView; else taskTimer">
<app-stopwatch></app-stopwatch>
<app-task-timer></app-task-timer>

</div>
 -->
</body>


</html>








{{ message | async | json }}



