@import '~@angular/material/theming';
@import "~firebaseui/dist/firebaseui.css";
@include mat-core();


$custom-typography: mat-typography-config(
$font-family: Raleway
);

@include angular-material-typography($custom-typography);

$light-primary: mat-palette($mat-cyan);
$light-accent: mat-palette($mat-light-blue);
$light-theme: mat-light-theme($light-primary,$light-accent);

@include angular-material-theme($light-theme);

$alt-primary: mat-palette($mat-deep-purple);
$alt-accent: mat-palette($mat-blue-gray);
$alt-warn: mat-palette($mat-amber);

$alt-theme: mat-dark-theme($alt-primary,$alt-accent,$alt-warn);



.alternative{




  @include angular-material-theme($alt-theme)
}

