.mat-raised-button {
    padding: 2px 3px 2px 3px;
    margin: 2px 4px 2px 4px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: none;
}

span {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.mat-card{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.poop {
  width: 5%;
  height: 5%;


}
